<table>
    <thead>
        <th>No</th>
        <th>Name</th>
        <th>Course</th>
        <th>Program</th>
        <th>Year</th>
        <th>Lecturer</th>
        <th>Session</th>
        <th>Sem</th>
        <th>Section</th>
        <th>IC</th>
        <th>Matric</th>
        <th>PO1</th>
        <th>PO2</th>
        <th>PO3</th>
        <th>PO4</th>
        <th>PO5</th>
        <th>PO6</th>
        <th>PO7</th>
        <th>PO8</th>
        <th>PO9</th>
        <th>P10</th>
        
    </thead>
    <tbody>
        
	
	<tr>
		<td>1&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=171616">
				KHAIRUNNABEELABINTICHEIZHAM</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>shukor</td>
		<td>20162017</td>
		<td>2</td>
		<td>4</td>
		<td>940606015742</td>
		<td>B16CS0004</td>
		<td>20.77&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>31.08&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>2&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=143268">
				ADLINABINTIABDULSAMAD</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>970127015208</td>
		<td>A16CS0001</td>
		<td>68.71&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>59.33&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>3&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=143285">
				AFRINANURSYAZWANBINTIRADZUAN</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>970606235216</td>
		<td>A16CS0005</td>
		<td>70.14&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>55.67&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>4&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=146520">
				AHMADZULFAHMIBINAHMADEZZAT</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>960610075949</td>
		<td>A16CS0233</td>
		<td>57.86&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>63.67&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>5&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=143665">
				DANIYALAQIUMBINSHAHIRAN</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>971016015517</td>
		<td>A16CS0034</td>
		<td>67.43&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>58.67&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>6&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=143701">
				ENCIKMIRIATARA</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>201608F10150</td>
		<td>A16CS4007</td>
		<td>46.86&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>45.33&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>7&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=143748">
				FARAHSYUHADABINTIABUSEMAN</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>960902435088</td>
		<td>A16CS0229</td>
		<td>58&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>67.33&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>8&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=144025">
				KOHLEONGCHIEN</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>960925016329</td>
		<td>A16CS0047</td>
		<td>82.86&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>89.33&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>9&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=144061">
				LAWJIWEN</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>961118265235</td>
		<td>A16CS0054</td>
		<td>82&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>68.33&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>10&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=144145">
				LIMYINGYING</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>961224105470</td>
		<td>A16CS0065</td>
		<td>88.71&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>94.33&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>11&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=144178">
				LOWWANSHEN</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>960429016362</td>
		<td>A16CS0071</td>
		<td>93.29&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>98&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>12&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=144300">
				MOHAMADNORSYAHMIBINAHMAD</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>970214016583</td>
		<td>A16CS0074</td>
		<td>78.86&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>69&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>13&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=144314">
				MOHAMADSIDEKFADHILBINMOHDFAUDZI</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>970910075907</td>
		<td>A16CS0076</td>
		<td>70.57&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>60.67&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>14&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=144400">
				MOHDAZRIBINYAZID</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>971019055493</td>
		<td>A16CS0084</td>
		<td>60.71&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>55.67&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>15&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=144452">
				MONAFINAFIFFIQUAROBINARDHITO</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>201608M10158</td>
		<td>A16CS4006</td>
		<td>74.43&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>74&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>16&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=144566">
				MUHAMMADAKMALBINMATKAMAL</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>971022145465</td>
		<td>A16CS0091</td>
		<td>66&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>43.33&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>17&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=144628">
				MUHAMMADAZIMBINZAMZURIARIFFIN</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>970214065385</td>
		<td>A16CS0099</td>
		<td>24.43&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>38&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>18&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=142830">
				MUHAMMADFARHANCESSAR</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>201608M10063</td>
		<td>A16CS4008</td>
		<td>36.71&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>18.67&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>19&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=144693">
				MUHAMMADFIKRIBINMOHAMMADALI</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>970916105855</td>
		<td>A16CS0102</td>
		<td>78.14&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>69.67&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>20&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=144914">
				MUHDZULHAMDIBINMALEK</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>970628025383</td>
		<td>A16CS0120</td>
		<td>77.57&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>67&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>21&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=145029">
				NOORATIERAHBINTIROSLI</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>970122085186</td>
		<td>A16CS0133</td>
		<td>77&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>68.33&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>22&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=145090">
				NORAQILABINTINORZAHA</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>970127105844</td>
		<td>A16CS0135</td>
		<td>76&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>78.33&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>23&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=145157">
				NURAINNABILAHBINTIABDULSALAM</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>971230016828</td>
		<td>A16CS0139</td>
		<td>57.43&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>49.33&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>24&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=145171">
				NURAISHAHBINTISHAMSUDIN</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>970222106036</td>
		<td>A16CS0141</td>
		<td>83.14&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>62.67&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>25&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=145279">
				NURFATINATIRABINTIABDGHAFAR</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>971028065618</td>
		<td>A16CS0155</td>
		<td>71.86&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>46.67&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>26&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=145431">
				NURALYAABINTIJAMALULLAIL</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>971018105428</td>
		<td>A16CS0169</td>
		<td>54.86&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>57.33&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>27&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=145591">
				NURULNADHIRAHBINTIISMAIL</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>971109016092</td>
		<td>A16CS0179</td>
		<td>73.29&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>56&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>28&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=145769">
				RUSYAIDIBINRAMLY</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>970808106631</td>
		<td>A16CS0193</td>
		<td>70&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>72.67&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>29&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=145959">
				SITIZAKIAHINANIBINTIABDULRAZAK</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>970209105696</td>
		<td>A16CS0204</td>
		<td>75.14&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>60&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>30&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=146087">
				TEOWENLONG</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>960316065459</td>
		<td>A16CS0216</td>
		<td>80&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>70.33&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>31&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=146088">
				TEOHSHUPING</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>960410075848</td>
		<td>A16CS0217</td>
		<td>91.86&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>96.67&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>32&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=146110">
				THURGEASWARYA/PROKANATNAM</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>habib</td>
		<td>20162017</td>
		<td>2</td>
		<td>3</td>
		<td>971111055306</td>
		<td>A16CS0220</td>
		<td>70.57&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>57.33&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>33&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=171616">
				KHAIRUNNABEELABINTICHEIZHAM</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>shukor</td>
		<td>20172018</td>
		<td>2</td>
		<td>20</td>
		<td>940606015742</td>
		<td>B16CS0004</td>
		<td>20.77&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>31.08&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>34&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=154345">
				YAZWANBINSAEDON</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>1</td>
		<td>960926075339</td>
		<td>A17CS0301</td>
		<td>25.04&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>65.9&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>35&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=150483">
				FARAHIZATIEBINTIMOHDSUFIAN</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>961126085904</td>
		<td>A17CS0275</td>
		<td>68.77&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>90.7&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>36&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=150571">
				GABRIELLTANIN</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>960613135097</td>
		<td>B17CS0037</td>
		<td>58.24&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>94.4&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>37&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=150637">
				HARRISFADHILLAHBINMU'ADZZAMSHAH</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>960328085721</td>
		<td>B17CS0009</td>
		<td>50.39&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>96.3&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>38&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=150744">
				INTANIZREENBINTIMOHDNARAWI</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>961011065516</td>
		<td>B17CS0011</td>
		<td>50.16&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>98.4&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>39&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=151328">
				MOHAMMADKHAIRULHILMIBINSHAHROM</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>960217105013</td>
		<td>B17CS0015</td>
		<td>53.93&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>93.3&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>40&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=151409">
				MOHDKHAIRULAFIZBINMOHMADYOUSOFF</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>961220126899</td>
		<td>B17CS0016</td>
		<td>56.94&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>93.9&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>41&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=151521">
				MUHAMADSHAHRULBINABDULLAH</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>960501015541</td>
		<td>B17CS0017</td>
		<td>81.9&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>95&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>42&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=151586">
				MUHAMMADAIZATBINKAMARUDIN</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>960527065045</td>
		<td>B17CS0020</td>
		<td>59.14&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>93.6&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>43&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=151630">
				MUHAMMADAMIRULHAKIMBINHAIRON</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>960811017171</td>
		<td>B17CS0021</td>
		<td>57.04&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>94.6&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>44&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=151887">
				MUHAMMADKHALIDSYAHMIBINMARIANI</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>961007035349</td>
		<td>B17CS0039</td>
		<td>48.78&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>87.7&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>45&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=152024">
				MUHAMMADWAZIRASHRAFFBINMDSUHAIMI</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>961126055481</td>
		<td>B17CS0023</td>
		<td>51.22&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>92.9&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>46&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=152060">
				MUKHLISZIKRIBINMOHDTARMIZI</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>960926385097</td>
		<td>B17CS0024</td>
		<td>67.28&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>94.8&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>47&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=152290">
				NORISKANDARBINNORAPANDI</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>960304105003</td>
		<td>B17CS0027</td>
		<td>51.3&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>94&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>48&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=153427">
				SITIZAHIDAHBINTIZAHARAN</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>960819055164</td>
		<td>A17CS0214</td>
		<td>78.5&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>94&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>49&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=153506">
				SYAZAAINUNBINTIMOHDNAZIR</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>razana</td>
		<td>20172018</td>
		<td>2</td>
		<td>5</td>
		<td>961111125600</td>
		<td>B17CS0035</td>
		<td>52.4&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>94.1&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>50&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=154345">
				YAZWANBINSAEDON</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>haizan</td>
		<td>20182019</td>
		<td>2</td>
		<td>8</td>
		<td>960926075339</td>
		<td>A17CS0301</td>
		<td>50.04&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>52.15&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
	<tr>
		<td>51&nbsp;</td>
		<td><ahref="https://vpn.utm.my/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202104120317960559980&amp;year=2016&amp;prog_id=29&amp;course_id=1023&amp;obe_cohort_id=142830">
				MUHAMMADFARHANCESSAR</a></td>
		<td>SCSI1113</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>noorfa</td>
		<td>20192020</td>
		<td>2</td>
		<td>3</td>
		<td>201608M10063</td>
		<td>A16CS4008</td>
		<td>59.22&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>52.05&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
		<td>0&nbsp;</td>
	</tr>
		
    </tbody>
</table>