<table>
    <thead>
        <th>No</th>
        <th>Name</th>
        <th>Course</th>
        <th>Program</th>
        <th>Year</th>
        <th>Lecturer</th>
        <th>Session</th>
        <th>Sem</th>
        <th>Section</th>
        <th>IC</th>
        <th>Matric</th>
        <th>PO1</th>
        <th>PO2</th>
        <th>PO3</th>
        <th>PO4</th>
        <th>PO5</th>
        <th>PO6</th>
        <th>PO7</th>
        <th>PO8</th>
        <th>PO9</th>
        <th>P10</th>
        
    </thead>
    <tbody>
        
        
	
	<tr>
		<td>1</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=143268>
				ADLINA BINTI ABDUL SAMAD</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>970127015208</td>
		<td>A16CS0001</td>
		<td>82.75</td>
		<td>0</td>
		<td>0</td>
		<td>70</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>2</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=143285>
				AFRINA NURSYAZWAN BINTI RADZUAN</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>970606235216</td>
		<td>A16CS0005</td>
		<td>79.63</td>
		<td>0</td>
		<td>0</td>
		<td>65</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>3</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=146520>
				AHMAD ZULFAHMI BIN AHMAD EZZAT</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>960610075949</td>
		<td>A16CS0233</td>
		<td>75.75</td>
		<td>0</td>
		<td>0</td>
		<td>82.5</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>4</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=143665>
				DANIYAL AQIUM BIN SHAHIRAN</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>971016015517</td>
		<td>A16CS0034</td>
		<td>83.75</td>
		<td>0</td>
		<td>0</td>
		<td>90</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>5</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=143701>
				ENCIK MIRIA TARA</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>201608F10150</td>
		<td>A16CS4007</td>
		<td>62</td>
		<td>0</td>
		<td>0</td>
		<td>82.5</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>6</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=143748>
				FARAH SYUHADA BINTI ABU SEMAN</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>960902435088</td>
		<td>A16CS0229</td>
		<td>69.88</td>
		<td>0</td>
		<td>0</td>
		<td>70</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>7</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=144025>
				KOH LEONG CHIEN</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>960925016329</td>
		<td>A16CS0047</td>
		<td>82.63</td>
		<td>0</td>
		<td>0</td>
		<td>67.5</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>8</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=144061>
				LAW JI WEN</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>961118265235</td>
		<td>A16CS0054</td>
		<td>90.88</td>
		<td>0</td>
		<td>0</td>
		<td>90</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>9</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=144145>
				LIM YING YING</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>961224105470</td>
		<td>A16CS0065</td>
		<td>97.75</td>
		<td>0</td>
		<td>0</td>
		<td>75</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>10</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=144178>
				LOW WAN SHEN</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>960429016362</td>
		<td>A16CS0071</td>
		<td>98.75</td>
		<td>0</td>
		<td>0</td>
		<td>80</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>11</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=144300>
				MOHAMAD NOR SYAHMI BIN AHMAD</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>970214016583</td>
		<td>A16CS0074</td>
		<td>80.75</td>
		<td>0</td>
		<td>0</td>
		<td>85</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>12</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=144314>
				MOHAMAD SIDEK FADHIL BIN MOHD FAUDZI</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>970910075907</td>
		<td>A16CS0076</td>
		<td>87.75</td>
		<td>0</td>
		<td>0</td>
		<td>90</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>13</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=144400>
				MOHD AZRI BIN YAZID</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>971019055493</td>
		<td>A16CS0084</td>
		<td>77.13</td>
		<td>0</td>
		<td>0</td>
		<td>90</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>14</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=144452>
				MONAFIN AFIF FIQUARO BINARDHITO</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>201608M10158</td>
		<td>A16CS4006</td>
		<td>69.25</td>
		<td>0</td>
		<td>0</td>
		<td>70</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>15</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=144566>
				MUHAMMAD AKMAL BIN MAT KAMAL</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>971022145465</td>
		<td>A16CS0091</td>
		<td>81</td>
		<td>0</td>
		<td>0</td>
		<td>90</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>16</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=144628>
				MUHAMMAD AZIM BIN ZAMZURI ARIFFIN</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>970214065385</td>
		<td>A16CS0099</td>
		<td>81</td>
		<td>0</td>
		<td>0</td>
		<td>90</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>17</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=142830>
				MUHAMMAD FARHAN CESSAR</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>201608M10063</td>
		<td>A16CS4008</td>
		<td>66.5</td>
		<td>0</td>
		<td>0</td>
		<td>70</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>18</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=144693>
				MUHAMMAD FIKRI BIN MOHAMMAD ALI</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>970916105855</td>
		<td>A16CS0102</td>
		<td>78.63</td>
		<td>0</td>
		<td>0</td>
		<td>90</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>19</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=144914>
				MUHD ZULHAMDI BIN MALEK</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>970628025383</td>
		<td>A16CS0120</td>
		<td>85.5</td>
		<td>0</td>
		<td>0</td>
		<td>72.5</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>20</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=145029>
				NOOR ATIERAH BINTI ROSLI</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>970122085186</td>
		<td>A16CS0133</td>
		<td>69.5</td>
		<td>0</td>
		<td>0</td>
		<td>82.5</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>21</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=145090>
				NORAQILA BINTI NORZAHA</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>970127105844</td>
		<td>A16CS0135</td>
		<td>79.63</td>
		<td>0</td>
		<td>0</td>
		<td>87.5</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>22</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=145157>
				NUR AIN NABILAH BINTI ABDUL SALAM</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>971230016828</td>
		<td>A16CS0139</td>
		<td>71.88</td>
		<td>0</td>
		<td>0</td>
		<td>87.5</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>23</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=145171>
				NUR AISHAH BINTI SHAMSUDIN</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>970222106036</td>
		<td>A16CS0141</td>
		<td>79.13</td>
		<td>0</td>
		<td>0</td>
		<td>82.5</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>24</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=145279>
				NUR FATIN ATIRA BINTI ABD GHAFAR</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>971028065618</td>
		<td>A16CS0155</td>
		<td>64.13</td>
		<td>0</td>
		<td>0</td>
		<td>92.5</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>25</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=145431>
				NURALYAA BINTI JAMALULLAIL</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>971018105428</td>
		<td>A16CS0169</td>
		<td>76.5</td>
		<td>0</td>
		<td>0</td>
		<td>92.5</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>26</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=145591>
				NURUL NADHIRAH BINTI ISMAIL</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>971109016092</td>
		<td>A16CS0179</td>
		<td>82.38</td>
		<td>0</td>
		<td>0</td>
		<td>92.5</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>27</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=145769>
				RUSYAIDI BIN RAMLY</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>970808106631</td>
		<td>A16CS0193</td>
		<td>71.75</td>
		<td>0</td>
		<td>0</td>
		<td>72.5</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>28</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=145959>
				SITI ZAKIAH INANI BINTI ABDUL RAZAK</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>970209105696</td>
		<td>A16CS0204</td>
		<td>66.75</td>
		<td>0</td>
		<td>0</td>
		<td>82.5</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>29</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=146087>
				TEO WEN LONG</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>960316065459</td>
		<td>A16CS0216</td>
		<td>88.63</td>
		<td>0</td>
		<td>0</td>
		<td>77.5</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>30</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=146088>
				TEOH SHU PING</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>960410075848</td>
		<td>A16CS0217</td>
		<td>93.25</td>
		<td>0</td>
		<td>0</td>
		<td>75</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
	<tr>
		<td>31</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=202107281005912876366&year=2016&prog_id=29&course_id=820&obe_cohort_id=146110>
				THURGEASWARY A/P ROKANATNAM</a></td>
		<td>SCSD1513</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>nazmona</td>
		<td>20162017</td>
		<td>1</td>
		<td>04</td>
		<td>971111055306</td>
		<td>A16CS0220</td>
		<td>89.13</td>
		<td>0</td>
		<td>0</td>
		<td>75</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
		
    </tbody>
</table>