<table>
    <thead>
        <th>No</th>
        <th>Name</th>
        <th>Course</th>
        <th>Program</th>
        <th>Year</th>
        <th>Lecturer</th>
        <th>Session</th>
        <th>Sem</th>
        <th>Section</th>
        <th>IC</th>
        <th>Matric</th>
        <th>PO1</th>
        <th>PO2</th>
        <th>PO3</th>
        <th>PO4</th>
        <th>PO5</th>
        <th>PO6</th>
        <th>PO7</th>
        <th>PO8</th>
        <th>PO9</th>
        <th>P10</th>
        
    </thead>
    <tbody>
        
        
	
	<tr>
		<td>1</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=142830>
				MUHAMMAD FARHAN CESSAR</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>m-wanzar</td>
		<td>20182019</td>
		<td>1</td>
		<td>19</td>
		<td>201608M10063</td>
		<td>A16CS4008</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >57</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>2</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=144452>
				MONAFIN AFIF FIQUARO BINARDHITO</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>m-wanzar</td>
		<td>20182019</td>
		<td>1</td>
		<td>19</td>
		<td>201608M10158</td>
		<td>A16CS4006</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >75</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>3</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=143701>
				ENCIK MIRIA TARA</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>m-wanzar</td>
		<td>20182019</td>
		<td>1</td>
		<td>19</td>
		<td>201608F10150</td>
		<td>A16CS4007</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >75</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>4</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=146110>
				THURGEASWARY A/P ROKANATNAM</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>971111055306</td>
		<td>A16CS0220</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >87</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>5</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=145769>
				RUSYAIDI BIN RAMLY</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>970808106631</td>
		<td>A16CS0193</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >81</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>6</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=145591>
				NURUL NADHIRAH BINTI ISMAIL</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>971109016092</td>
		<td>A16CS0179</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >90</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>7</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=145431>
				NURALYAA BINTI JAMALULLAIL</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>971018105428</td>
		<td>A16CS0169</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >90</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>8</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=145279>
				NUR FATIN ATIRA BINTI ABD GHAFAR</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>971028065618</td>
		<td>A16CS0155</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >87</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>9</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=145171>
				NUR AISHAH BINTI SHAMSUDIN</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>970222106036</td>
		<td>A16CS0141</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >87</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>10</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=145157>
				NUR AIN NABILAH BINTI ABDUL SALAM</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>971230016828</td>
		<td>A16CS0139</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >86</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>11</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=145090>
				NORAQILA BINTI NORZAHA</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>970127105844</td>
		<td>A16CS0135</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >89</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>12</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=145029>
				NOOR ATIERAH BINTI ROSLI</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>970122085186</td>
		<td>A16CS0133</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >86</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>13</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=144693>
				MUHAMMAD FIKRI BIN MOHAMMAD ALI</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>970916105855</td>
		<td>A16CS0102</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >86</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>14</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=144628>
				MUHAMMAD AZIM BIN ZAMZURI ARIFFIN</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>970214065385</td>
		<td>A16CS0099</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >90</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>15</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=144566>
				MUHAMMAD AKMAL BIN MAT KAMAL</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>971022145465</td>
		<td>A16CS0091</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >82</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>16</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=144400>
				MOHD AZRI BIN YAZID</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>971019055493</td>
		<td>A16CS0084</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >84</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>17</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=144314>
				MOHAMAD SIDEK FADHIL BIN MOHD FAUDZI</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>970910075907</td>
		<td>A16CS0076</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >85</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>18</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=144300>
				MOHAMAD NOR SYAHMI BIN AHMAD</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>970214016583</td>
		<td>A16CS0074</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >82</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>19</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=143748>
				FARAH SYUHADA BINTI ABU SEMAN</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>960902435088</td>
		<td>A16CS0229</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >83</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>20</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=143665>
				DANIYAL AQIUM BIN SHAHIRAN</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>971016015517</td>
		<td>A16CS0034</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >91</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>21</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=146520>
				AHMAD ZULFAHMI BIN AHMAD EZZAT</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>960610075949</td>
		<td>A16CS0233</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >83</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>22</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=143285>
				AFRINA NURSYAZWAN BINTI RADZUAN</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>970606235216</td>
		<td>A16CS0005</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >87</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>23</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=143268>
				ADLINA BINTI ABDUL SAMAD</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>rohaniothman</td>
		<td>20182019</td>
		<td>1</td>
		<td>20</td>
		<td>970127015208</td>
		<td>A16CS0001</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >75</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>24</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=150483>
				FARAH IZATIE BINTI MOHD SUFIAN</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>m-fatima</td>
		<td>20182019</td>
		<td>2</td>
		<td>33</td>
		<td>961126085904</td>
		<td>A17CS0275</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >71</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>25</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=150571>
				GABRIELL TANIN</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>m-fatima</td>
		<td>20182019</td>
		<td>2</td>
		<td>33</td>
		<td>960613135097</td>
		<td>B17CS0037</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >76</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>26</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=151328>
				MOHAMMAD KHAIRUL HILMI BIN SHAHROM</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>m-fatima</td>
		<td>20182019</td>
		<td>2</td>
		<td>33</td>
		<td>960217105013</td>
		<td>B17CS0015</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >77</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>27</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=151887>
				MUHAMMAD KHALID SYAHMI BIN MARIANI</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>m-fatima</td>
		<td>20182019</td>
		<td>2</td>
		<td>33</td>
		<td>961007035349</td>
		<td>B17CS0039</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >80</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>28</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=152024>
				MUHAMMAD WAZIR ASHRAFF BIN MD SUHAIMI</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>m-fatima</td>
		<td>20182019</td>
		<td>2</td>
		<td>33</td>
		<td>961126055481</td>
		<td>B17CS0023</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >77</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>29</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=152060>
				MUKHLIS ZIKRI BIN MOHD TARMIZI</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>m-fatima</td>
		<td>20182019</td>
		<td>2</td>
		<td>33</td>
		<td>960926385097</td>
		<td>B17CS0024</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >73</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>30</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=152290>
				NOR ISKANDAR BIN NOR APANDI</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>m-fatima</td>
		<td>20182019</td>
		<td>2</td>
		<td>33</td>
		<td>960304105003</td>
		<td>B17CS0027</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >78</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>31</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=153427>
				SITI ZAHIDAH BINTI ZAHARAN</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>m-fatima</td>
		<td>20182019</td>
		<td>2</td>
		<td>33</td>
		<td>960819055164</td>
		<td>A17CS0214</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >80</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>32</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=154072>
				AHMAD NOOR HAIKAL BIN A.KARIM</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>diana</td>
		<td>20182019</td>
		<td>2</td>
		<td>34</td>
		<td>941117065719</td>
		<td>A17CS0289</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >67</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>33</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=150637>
				HARRIS FADHILLAH BIN MU'ADZZAM SHAH</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>diana</td>
		<td>20182019</td>
		<td>2</td>
		<td>34</td>
		<td>960328085721</td>
		<td>B17CS0009</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >71</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>34</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=150744>
				INTAN IZREEN BINTI MOHD NARAWI</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>diana</td>
		<td>20182019</td>
		<td>2</td>
		<td>34</td>
		<td>961011065516</td>
		<td>B17CS0011</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >71</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>35</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=153933>
				MOHAMAD AFIIF BIN MOHD KAMEEL</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>diana</td>
		<td>20182019</td>
		<td>2</td>
		<td>34</td>
		<td>960609105709</td>
		<td>A17CS0279</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >86</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>36</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=151409>
				MOHD KHAIRULAFIZ BIN MOHMAD YOUSOFF</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>diana</td>
		<td>20182019</td>
		<td>2</td>
		<td>34</td>
		<td>961220126899</td>
		<td>B17CS0016</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >70</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>37</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=151586>
				MUHAMMAD AIZAT BIN KAMARUDIN</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>diana</td>
		<td>20182019</td>
		<td>2</td>
		<td>34</td>
		<td>960527065045</td>
		<td>B17CS0020</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >70</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>38</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=151630>
				MUHAMMAD AMIRUL HAKIM BIN HAIRON</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>diana</td>
		<td>20182019</td>
		<td>2</td>
		<td>34</td>
		<td>960811017171</td>
		<td>B17CS0021</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >75</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		
	<tr>
		<td>39</td>
		<td><a href=/web/1/http/2/obe.utm.my/pentadbirakad/obe_cohort_course_ver002_detail2.php?cookie=2021072901491001065390&year=2016&prog_id=29&course_id=28679&obe_cohort_id=153506>
				SYAZA AINUN BINTI MOHD NAZIR</a></td>
		<td>ULAB3162</td>
		<td>SCSR</td>
		<td>2016</td>
		<td>diana</td>
		<td>20182019</td>
		<td>2</td>
		<td>34</td>
		<td>961111125600</td>
		<td>B17CS0035</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >70</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
		<td >0</td>
	</tr>
		</table></div><font color=white></font><hr> &copy; 2009 | <a href=# onClick='var SF_FUNC_cache_flush_tmp=SF_FUNC_cache_flush;window.print();SF_FUNC_cache_flush_tmp();'>Print</a> | This document is generated from iOBE. 

</body></html>

<script language="javascript" sf_script="1">if(typeof(SF_FUNC_Page_End)=='function')SF_FUNC_Page_End();</
    </tbody>
</table>